@media (min-width:768px){
    .min{
        display: none;
    }
    .div1{ 
        background-image: url(../images/starry\ sky.jpg);        
    }
    .div1_1_1{
        display: flex;
    }
    .div1_2{
        width: 50vw;
        height: 100vh;
        padding-left: 5vw;
    }
    .div1_2_1{
        line-height: 80vh;
        font-size: 7vh;
    } 
    .div1_2_2{
        font-size: 7vh;
        bottom: 20vh;
    }
    .div1_3{
        font-size: 5vh;    
        width: 50vw;
        height: 50vh;
        padding-top: 30vh;
        padding-right: 5vw;
    }
    .div1_4{
        margin-top: 15vh;
    }
}